RewriteEngine On
RewriteBase /

RewriteCond %{THE_REQUEST} /public/([^\s?]*) [NC]
RewriteRule ^ %1 [L,NE,R=302]

RewriteRule ^((?!public/).*)$ public/$1 [L,NC]

RewriteCond %{HTTP_HOST} ^sougna.tn [NC]
RewriteCond %{SERVER_PORT} 80
RewriteRule ^(.*)$ https://www.sougna.tn/$1 [R,L]